{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <p class=error><strong>Ошибка:</strong> {{ error }}{% endif %}
<form action="" method="post" name="send" role="form">
    <div class="form-group">
        <label for="fsrar">Выберите УТМ торговый точки</label>
    <p>{{ form.fsrar(class="form-control") }}</p>
    <span class="help-block">Запросите список необработанных документов, а спустя ~5 минут проверьте результат</span>
    </div>
    <button type="submit" name="request" class="btn btn-primary">Запросить</button>
    <button type="submit" name="check" class="btn btn-primary">Проверить</button>
    </form>{% if title and ttn_list %}
    <h3>{{ title }}</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>TTN</th>
            <th>Дата</th>
            <th>Накладная</th>
        </tr>
        </thead>
        <tbody>
        {% for ttn in ttn_list %}
            <tr>
                <td>{{ ttn[0] }}</td>
                <td>{{ ttn[1] }}</td>
                <td>{{ ttn[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
