{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <p class=error><strong>Ошибка:</strong> {{ error }}{% endif %}
<form action="" method="post" name="send" role="form">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="fsrar">Выберите УТМ торговый точки</label>
        <p>{{ form.fsrar(class="form-control") }}</p>
        <span class="help-block">Будет отправлен запрос необработанных накладных ЕГАИС. Проверить его можно через 3-5 минут <a
                href="{{ url_for('check_nattn') }}">здесь</a></span>

    </div>
    <p><input type="submit" value="Запросить" class="btn btn-primary"></p>
    </form>

{% endblock %}