{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="" method="post" id="send" name="send" role="form">
    <label for="fsrar">Выберите УТМ торговый точки</label>
    <p>{{ form.fsrar(class="form-control") }}</p>
    <p>
        <input type="submit" name="select" value="Выбранная ТТ" class="btn btn-primary">
        <input type="submit" name="all" value="Все ТТ" class="btn btn-primary">
    </p>

    </form>
    {% if results %}
        <table class="table table-hover">
            <thead>
            <tr>

                <th>ТТ</th>
                <th>Удалено</th>

            </tr>
            </thead>
            <tbody>
            {% for x in results %}
                <tr>
                    <td>{{ x[0] }}</td>
                    <td>{{ x[1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}