{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="" method="post" name="send" role="form">

    <label for="ordering">Ответ</label>
    <p>{{ form.ordering(class="form-control") }}</p>

    <input type="submit" value="Упорядочить" class="btn btn-primary">

    </form>
    {% if results %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ТТ</th>
                <th width=100>Сервер</th>
                <th>ФСРАР ИД</th>
                <th>Организация</th>
                <th>Директор</th>
                <th>ГОСТ</th>
                <th>Чеки</th>
                <th>Статус</th>
                <th>Лиц</th>
                <th>Фильтр</th>
                {% if err %}
                    <th>Ошибка</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for u in results %}
                <tr>
                    <td><a href="{{ u['url'] }}">{{ u['title'] }}</a></td>
                    <td title="{{ u['build'] }}">{{ u['host'] }}</td>
                    <td>{{ u['fsrar'] }}</td>
                    <td title="{{ u['surname'] }}">{{ u['legal'] }}</td>
                    <td title="{{ u['surname'] }} {{ u['given_name'] }}">{{ u['surname'] }}</td>

                    <td title="{{ u['pki'] }}">{{ u['gost'] }}</td>
                    <td>
                        {% if u['cheques'] == 'OK' %}
                            <img src="{{ url_for('static', filename='ok24.png') }}" alt="OK">
                        {% else %}
                            <img src="{{ url_for('static', filename='warn24.png') }}" alt="WARNING">
                            {{ u['cheques'] }} {% endif %}
                    </td>

                    <td>
                        {% if u['status'] == True %}
                            <img src="{{ url_for('static', filename='ok24.png') }}" alt="OK">
                        {% else %}
                            <img src="{{ url_for('static', filename='warn24.png') }}" alt="WARNING">
                        {% endif %}
                    </td>

                    <td>
                        {% if u['license'] == True %}
                            <img src="{{ url_for('static', filename='ok24.png') }}" alt="OK">
                        {% else %}
                            <img src="{{ url_for('static', filename='warn24.png') }}" alt="WARNING">
                        {% endif %}
                    </td>

                    <td>
                        {% if u['filter'] == True %}
                            <img src="{{ url_for('static', filename='ok24.png') }}" alt="OK">
                        {% else %}
                            <img src="{{ url_for('static', filename='warn24.png') }}" alt="WARNING" title="Not OK">
                        {% endif %}
                    </td>
                    {% if err %}
                        <td>
                            {% if u['error']|length == 0 %}
                                <img src="{{ url_for('static', filename='ok24.png') }}" alt="OK"
                                     title="{{ u['error'] }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='warn24.png') }}" alt="WARNING"
                                     title="{{ u['error'] }}">
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}