{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="" method="post" name="send" role="form">

    <label for="search">Документ (Накладная, TTN, ЕГАИС идентификатор)</label>
    <p>{{ form.search(class="form-control") }}</p>
    <span class="help-block">Фильтр квитанций, где встречается данный документ, обязательно</span>

    <label for="limit">Кол-во последних запросов</label>
    <p>{{ form.limit(class="form-control") }}</p>
    <span class="help-block">Для точек работающих не в STORGCO, может быть долго, т.к. квитанций может быть очень много. Максимальное количество 5000, по умолчанию 1000</span>

    <label for="fsrar">Выберите УТМ торговый точки</label>
    <p>{{ form.fsrar(class="form-control") }}</p>

    <br>

    <p><input type="submit" value="Получить" class="btn btn-primary"></p>
    </form>
    {% if results %}
        {% if results is not none %}
            <h1>Результаты:</h1>

            {% for result in results %}
                <div class="alert alert-info">
                    {% for key, value in result.items() %}

                        {% if value is mapping %}
                            + <b>{{ key }}</b> <br>

                            {% for s_key,s_value  in value.items() %}
                                -- <b>{{ s_key }}</b>: {{ s_value }}<br>
                            {% endfor %}
                        {% else %}
                            <b>{{ key }}</b>: {{ value }}<br>
                        {% endif %}

                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>Нет результатов</p>
        {% endif %}
    {% endif %}


{% endblock %}
