{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}{% endif %}

<form action="" method="post" name="send" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="wbregid">TTN</label>
    <p>{{ form.wbregid(class="form-control") }}</p>
    <span class="help-block">Укажите полный номер TTN для отправки, например TTN-1234567890</span>
    <label for="fsrar">Выберите УТМ торговый точки</label>
    <p>{{ form.fsrar(class="form-control") }}</p>

    <span class="help-block">Будет запрошена TTN, после чего удалите TTN в разделе ЕГАИС Приход, и ожидайте несколкьо минут новый документ.</span>

    </div>
    <p><input type="submit" value="Запросить" class="btn btn-primary"></p>
    </form>

{% endblock %}

