{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="" method="post" name="send" role="form">

        <label for="fsrar">ФСРАР ИД</label>
        <p>{{ form.fsrar(class="form-control") }}</p>
        <span class="help-block">Если ФСРАР ИД уже существует, он будет обновлен</span>

        <label for="title">Название (адрес) УТМ</label>
        <p>{{ form.title(class="form-control") }}</p>

        <label for="host">Сервер УТМ</label>
        <p>{{ form.host(class="form-control") }}</p>
        <span class="help-block">Например, vl01-srv01</span>

        <label for="ukm">Сервер УКМ </label>
        <p>{{ form.ukm(class="form-control") }}</p>
        <span class="help-block">Например, vl01-srv01</span>

        <label for="fsrar">UNC путь к входящим XML</label>
        <p>{{ form.path(class="form-control") }}</p>
        <span class="help-block">Необязательно, будет использован по умолчанию</span>

        <label for="active">Активна</label>
        <p>{{ form.active(class="form-control") }}</p>

        <br>

        <p><input type="submit" value="Сохранить" class="btn btn-primary"></p>
    </form>

{% endblock %}