{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <p class="lead">Поиск ошибок в журнале чеков УТМ</p>
    <span class="help-block">Если проверка марки завершилась ошибкой, покажет ее. За текущий день</span>

    <form action="" method="post" name="send" role="form">
        <label for="fsrar">Выберите УТМ торговый точки</label>
        <p>{{ form.fsrar(class="form-control") }}</p>
        <p><input type="submit" value="Получить" class="btn btn-primary"></p>
    </form>
    {% if summary %}
        <div> {{ summary }}</div>
    {% endif %}
    {% if results %}
        <h1>Результаты:</h1>
    {% endif %}
    {% for x in results %}
        <span class="help-block">{{ x }}</span>
    {% endfor %}

{% endblock %}