{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <p class="lead">Поиск ошибок в журнале чеков УТМ</p>
    <span class="help-block">Ошибки УТМ при проверке марок</span>
    <form action="" method="post" name="send" role="form">
        <label for="fsrar">Выберите УТМ торговый точки</label>
        <p>{{ form.fsrar(class="form-control") }}</p>
        <p>{{ form.all() }} Все УТМ</p>
        <p>{{ form.yesterday() }} Предыдущий день</p>
        <p><input type="submit" value="Получить" class="btn btn-primary"></p>
    </form>
    {% if results %}
        <h1>Результаты {{ date }}: </h1>
        <p>ТТ с ошибками: {{ total }} Ошибок всего: {{ total_errors }}
        {% if results is not none %}
                {% for key, value in results.items() %}
                <div>
                    <b>{{ key }}</b> <br>
                    {%  for v in value %}
                        <hr><span class="help-block">{{ v }}</span>
                    {% endfor %}
                </div>
                <hr>
            {% endfor %}

        {% else %}
        <p>Нет результатов</p>
        {% endif %}
    {% endif %}


{% endblock %}