{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <p class="lead">Ручная отправка чеков на возврат.</p>
    <form action="" method="post" name="send" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p class="lead">1. Выбираем УТМ для отправки</p>
            <span class="help-block">Не забудьте выбрать правильную ТТ</span>
            <label for="utmlist">Выберите УТМ торговый точки</label>
            <select name="utmlist" class="form-control">
                {% for x in server_list %}
                    <option value="{{ x[0] }}"{% if loop.first %} SELECTED{% endif %}>{{ x[3] }}</option>
                {% endfor %}
            </select>
            <hr>
            <p class="lead">2. Заполняем чек</p>
            <span class="help-block">Указываем номер и смену чека на возврат, с кассы магазина (если алкогольных несколько, берем с первой)</span>

            <div class="row">
                <div class="col-xs-6">
                    <label for="shift">Текущая смена</label>{{ render_field(form.shift) }}
                </div>
                <div class="col-xs-6">
                    <label for="number">Текущий чек</label>{{ render_field(form.number) }}
                </div>
            </div>
            <hr>
            <p class="lead">3. Заполняем акциз</p>
            <div class="row">
                <div class="col-xs-8">
                    <label for="bottle">Акцизная марка </label>{{ render_field(form.bottle) }} <span class="help-block">Длинный код акцизной марки можно считать через Супермаг</span>
                </div>
                <div class="col-xs-4">
                    <label for="price">Цена</label>{{ render_field(form.price) }}<span class="help-block">Возврат со знаком "-", копейки через точку.<br>Например, -123.45</span>
                </div>
            </div>
        </div>
        <p><input type="submit" value="Отправить чек" class="btn btn-primary"></p>
    </form>

{% endblock %}