<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='eagle.png') }}" />
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="{{ url_for('status') }}">Статус УТМ</a></li>
              <li><a href="{{ url_for('ttn') }}">Повторный запрос</a></li>
              <li><a href="{{ url_for('reject') }}">Отклонить документ</a></li>
              <li><a href="{{ url_for('check_nattn') }}">Проверка необработанных</a></li>
              <li><a href="{{ url_for('get_nattn') }}">Запрос необработанных</a></li>
              <li><a href="{{ url_for('service') }}">Очистка УТМ</a></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h1>UTMR</h1>
        <p><h2>{{ title }}</h2></p>
    </div>
      {% for message in get_flashed_messages() %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
</body>
</html>