{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <p class="lead">Поиск строки во всех квитанциях (тикетах) в истории обмена</p>
    <span class="help-block">Может занимать 1-10 минут, взависимости от удаленности и объема базы. <br>
В результате выведет содержимое XML, где будет указан комментарий.<br>
Применять, если в Супермаге не сохранилась TTN, нет возможности посмотреть ее историю ответов от ЕГАИС </span>

    <form action="" method="post" name="send" role="form">
        <label for="search">Строка поиска</label>
        <p>{{ form.search(class="form-control") }}</p>

        <label for="utmlist">Выберите УТМ торговый точки</label>
        <select name="utmlist" class="form-control">
            {% for x in server_list %}
                <option value="{{ x[0] }}"{% if loop.first %} SELECTED{% endif %}>{{ x[3] }}</option>
            {% endfor %}
        </select>
        <br>

        <p><input type="submit" value="Обновить" class="btn btn-primary"></p>
    </form>
    {% if megalist %}
        <h1>Результаты:</h1>
    {% endif %}
    {% for x in megalist %}
        <h4>{{ x[0] }}</h4>
        <div>{{ x[1]|safe }}</div>
    {% endfor %}

{% endblock %}